{% extends "base.html" %}
{% block title %}Blog - {{user.username}} {% endblock %}

{% block page_content%}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar() }}">
    <div class="profile-header">
        <h1>{{user.username}}</h1>
        {% if user.name or user.location%}
        <p>
            {% if user.name %}{{user.name}}{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">
                    {{user.location}}
                </a>
            {% endif %}
        </p>
        {% endif %}
        {% if user.bio %}<p>{{user.bio}}</p>{% endif %}
        <p>
            Member since {{moment(user.member_since).format('L')}}.
            <p>Last seen {{moment(user.last_seen).fromNow()}}</p>
        </p>
        <p>
            {% if user == current_user %}
                <a class= "btn btn-default" href="{{ url_for('main.edit_profile') }}">
                    Edit Profile
                </a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}